:root{
      --primary: #2a077c;
    --secondary: #182848;
    --dark: #131a26;
}

.main-body{
    height: 100vw;
    width: 100vw;
    background-color: #1e2a3e;
    opacity: 1;
    /* background-image: repeating-radial-gradient(
        circle at center left,
        transparent 0,
        #233656 100px
      ),
      repeating-linear-gradient(#1e2a3e55, #1e2a3e);;
    border-radius: 30px; */
    display: flex;
}
