*{
    text-decoration: none;
}
.btn-body{
    height: 80px;
    width: 80px;
    border-radius: 20px;
    color: #F8D9C0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto;
    transition: all .4s ease-out;
    background-color: rgb(29, 22, 68);
}

.btn-body.active{
    background-color: rgb(248, 175, 248);
    color: #fff;
    transform: scale(1.05);
}
.btn-body:hover{
    color: #fff;
}

.btn-title{
    margin: 4px auto;
    font-weight: 600;
    font-size: 14px;

}